<h1>{{ room.title }}</h1>
{% if room.hotel.host == user %}
    <a href="{% url 'room_update' room.id %}"><Button type="button">Edit</Button></a>
    <a href="{% url 'room_delete' room.id %}"><Button type="button">Delete</Button></a>
{% endif %}
<div>
    <h3>Images:</h3>
    {% if room.image %}
    <div>
        {% for image in room.images.all %}
        <img src="{{ image.image.url }}" alt="{{ room.title }}">
        {% endfor %}
    </div>
    {% else %}
    <p>No image available.</p>
    {% endif %}
</div>

<div>
    <h2>Description</h2>
    <p>{{ room.description|linebreaksbr }}</p> <!-- Displaying description with line breaks -->
</div>

<div>
    <h3>Price: ${{ room.price_per_night }}</h3>
</div>

<div>
    <a href="{% url 'room_list' %}">Back to Listings</a>
</div>