{% extends 'base.html' %}

{% block title %}Listing Detail{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1>{{ listing.title }}</h1>
    {% if listing.host == user %}
        <a href="{% url 'listing_update' listing.id %}" class="btn btn-primary">Edit</a>
        <a href="{% url 'listing_delete' listing.id %}" class="btn btn-danger">Delete</a>
    {% endif %}
    <div>
        <h3>Images:</h3>
        {% if listing.images.all %}
        <div>
            {% for image in listing.images.all %}
            <img src="{{ image.image.url }}" alt="{{ listing.title }}" class="img-thumbnail" style="max-width: 150px;">
            {% endfor %}
        </div>
        {% else %}
        <p>No image available.</p>
        {% endif %}
    </div>

    <div>
        <h2>Description</h2>
        <p>{{ listing.description|linebreaksbr }}</p> <!-- Displaying description with line breaks -->
    </div>

    <div>
        <h3>Price: ${{ listing.price_per_night }}</h3>
    </div>
    <div>
        {% if listing.property_type == 'Hotel'%}
        <a href="{% url 'create_room' listing.id%}" class="btn btn-secondary mb-4">Create Room</a>
        {%endif%}
    </div>

    <div>
        <a href="{% url 'listing_list' %}" class="btn btn-secondary">Back to Listings</a>
        <a href="{% url 'booking_create' listing.id 0 %}" class="btn btn-success">Book</a> 
    </div>
</div>
{% endblock %}